.nav{
    @include mq('small-screen-1'){
        display:none
    };
    &-check{
        display:none;
    }
    &-button{
        background-color:transparent;
        width:7rem;
        height:6rem;
        position:fixed;
        top:px(20);
        right:px(10);
        z-index:2000;
        cursor:pointer;
        border-radius:px(2);
        text-align:center;
    }
    &-bg{
        height: 6rem;
        position: fixed;
        background-color: #ff6b1d;
        z-index: 1000;
        border-radius: 0.2666666667vw;
        transition: all 0.8s;
        width: 60%;
        top: 0;
        right: 0;
        height: 100vh;
        opacity: 0;
        display:none;
    }
    &-check:checked ~ &-bg{
        transform:scale(1);
        opacity:.9;
        display:block;
    }
    &-icon{
        position:relative;
        margin-top:3rem;
        &::before{
            top:-0.8rem;
        }
        &::after{
            top:0.8rem;
        }
        &::before,&::after{
            content:'';
            position:absolute;
            left:0;
            transition:all .2s;
        }
        &,&::before,&::after{
            width:3rem;
            height:px(4);
            background-color:$color-white;
            display:inline-block;
            box-shadow: px(2) px(2) px(2) rgba(0,0,0,0.3);
        }
    }
    &-button:hover &-icon::before{
        top:-1rem;
    }
    &-button:hover &-icon::after{
        top:1rem;
    }
    &-check:checked~&-button &-icon{
        background-color:transparent;
        box-shadow: unset;
    }
    &-check:checked~&-button &-icon::before{
        top:0;
        transform:rotate(135deg);
    }
    &-check:checked~&-button &-icon::after{
        top:0;
        transform:rotate(-135deg);
    }
    &-body{
        position:fixed;
        top:0;
        right:-120%;
        z-index:1500;
        opacity:0;
        transition:all .8s;
        width:60%;
        height:100%;
    }
    &-list{
        position:absolute;
        top:px(140);
        right:0;
        width:100%;
        text-align:left;
    }
    &-link{
        width:100%;
        display:inline-block;
        font-size:px(32);
        padding:1rem 2rem;
        color:$color-white;
        text-decoration:none;
        text-transform:uppercase;
        transition:all .4s;
        background-image:linear-gradient(120deg,transparent 0%, transparent 50%, $color-white 50%);
        background-size:225%;
        span{
            display:inline-block;
            margin-right:1.5rem;
        }
    }
    &-check:checked ~ &-body{
        opacity:1;
        right:0;
    }
}