footer{
    background:#222;
    padding-top:5vw;
    *{
        color:#fff;
    }
    p{
        line-height:1.6;
    }
    @include mq('small-screen-3'){
        padding-top:px(120)
    };
    .footer-box{
        display:flex;
        flex-direction:column;
        width:50%;
        gap:4rem;
        @include mq('small-screen-3'){
            width:100%;
            align-items:center;
        };
        h3{
            font-size:2.6rem;
            margin-bottom:1.2rem;
            font-weight:600;
            br{
                display:none;
            }
            + p{
                .nd{
                    display:none;
                }
            }
            @include mq('small-screen-3'){
                font-size:px(54);
                text-align:center;
                line-height:1.4;
                margin-bottom:px(50);
                br{
                    display:block;
                }
                + p{
                    font-size:px(30);
                    text-align:left;
                    span{
                        width:px(130);
                        display:inline-block;
                    }
                    .nd{
                        display:block;
                    }
                }
            }
        }
        #copyright{
            font-size:1.3rem;
            margin-bottom:5rem;
            line-height:1.8;
            color:$color-gray-light;
            .nd{
                display:none;
            }
            @include mq('small-screen-3'){
                text-align:center;
                font-size:px(26);
                word-break: keep-all;
                .nd{
                    display:block;
                }
            };
        }
    }
    .valid_box{
        padding:2rem 0;
    }
}