<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kc.thanks.chap.mapper.NoteMapper">
    <insert id="saveNote"
            parameterType="com.kc.thanks.chap.entity.Note"
            useGeneratedKeys="true"
            keyProperty="seq"
            keyColumn="seq">
        INSERT INTO dbo.note (
        name, contact, cnt, [type], addr, digital_cnt, use_yn, reg_dt, chg_dt
        )
        OUTPUT inserted.seq
        VALUES (
        #{name}, #{contact}, #{cnt}, #{type}, #{addr}, #{digital_cnt}, #{use_yn}, #{reg_dt}, #{chg_dt}
        )
    </insert>

    <select id="getAllData" resultType="map">
        SELECT
            n.seq AS '순번',
            n.name AS '이름',
            n.contact AS '연락처',
            n.cnt AS '말씀 노트 개수',
            CASE
            WHEN n.type = 'C' THEN '현장수령'
            WHEN n.type = 'I' THEN '아이패드 파일'
            ELSE '택배발송'
            END AS '수령방법',
            n.addr AS '주소',
            n.digital_cnt AS '디지털 노트 추가 개수',
            STRING_AGG(ne.email, '|') AS '디지털 노트 신청 메일',
            n.reg_dt AS '신청시간'
        FROM dbo.note AS n WITH (NOLOCK)
        LEFT JOIN dbo.note_email AS ne WITH (NOLOCK)
        ON ne.note_seq = n.seq
        WHERE n.use_yn = 'Y'
        GROUP BY
            n.seq, n.name, n.contact, n.cnt, n.type,
            n.addr, n.digital_cnt, n.reg_dt
        ORDER BY n.seq ASC;
    </select>

</mapper>