<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kc.thanks.chap.mapper.NoteMapper">
    <insert id="saveNote" parameterType="com.kc.thanks.chap.dto.requestDTO.NoteWriteRequestDTO">
        INSERT INTO note (
        name, contact, cnt, type, addr, use_yn, reg_dt, chg_dt
        )
        VALUES (
        #{name}, #{contact}, #{cnt}, #{type}, #{addr}, #{use_yn}, #{reg_dt}, #{chg_dt}
        )
    </insert>

    <select id="getAllData" resultType="map">
        select
            seq as '순번',
            name as '이름',
            contact as '연락처',
            cnt as '개수',
            case
                when type = 'C' THEN '현장수령'
                else '택배발송'
            end as '수령방법',
            addr as '주소',
            reg_dt as '신청시간'
        from dbo.note with(nolock)
        where use_yn = 'Y'
        order by seq desc;
    </select>

</mapper>